
/* Le Keyframe ci-dessous est à mettre dans la classe .mainDishContainer Et sert à faire apparaitre peu à peu les menus. */
@keyframes progressiveAppearanceMenu{
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Ci-dessous les Keyframes qui permettent de mettre en place le Loader de la page d'acceuil */
@keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(4turn);
      transform: rotate(4turn);
      opacity: 1;
    }
  }

  @keyframes loadBackground {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    80% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }