
/* Ci-dessous les couleurs de l'identité graphique du site */
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

/* Ci-dessous le décalage par rapport à la gauche de l'ensemble des articles et du body et du footer */
$decalage: 5vw;

