<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ohmyfood - Menu à la française</title>
    
        <!--Ci-dessous : lien vers les icones et le front utilisé-->
        <script src="https://kit.fontawesome.com/dc80972f73.js" crossorigin="anonymous"></script> 
        
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Shrikhand&display=swap" rel="stylesheet">
        <!--Ci-dessous : lien vers le fichier css-->
        <link rel="stylesheet" type="text/css" href="../public/css/styles.css" />
    
    </head>
<body class="bodyMenu">
    <header>
        <div class="header">
            <a href="/index.html"><i class="stopLinkStyleHeader header__Arrowleft fas fa-arrow-left fa-lg"></i></a>
            <h1 class="header__MainTitle">ohmyfood</h1>
        </div>

        <div class="headerLocation headerLocation--hide">
            <i class="headerLocation__LogoMap fas fa-map-marker-alt"></i>
            <p class="headerLocation__p">Paris, Belleville</p>
        </div>

        <div class="headerPresentation headerPresentation--hide">
            <h2 class="headerPresentation__h2">Reservez le menu qui vous convient</h2>
            <p class="headerPresentation__p">Découvrez des restaurants d'exeption, sélectionnés par nos soins.</p>
            <button class="headerPresentation__button" type="button">Explorer nos restaurants</button>
        </div>
    </header>

    <div class="menuBelowFooter">
        <img class="imageMenuFooter" src="../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="">

        <div class="titelMenu decalage">
            <h1 class="titelMenu__h1">A la française</h1>
            <div class="titelMenu__heart HeartContainerAnimated">
                <i class="fas fa-heart fa-2x HeartContainerAnimated__firstLayer"></i>
                <div class="box-hidden HeartContainerAnimated__secondLayer HeartContainerAnimated__secondLayer--colorBeige"></div>
                <i class="far fa-heart fa-2x HeartContainerAnimated__thirdLayer"></i>
            </div>
        </div>
    </div>

    <div class="decalage styleMainMenuDiv">
        <section>
            <div class="menuH2Titel">
                <h2 class="menuH2Titel__h2">ENTREES</h2>
                <div class="menuH2Titel__barre"></div>
            </div>

            <div class="mainDishContainer mainDishContainer--1">
                <div class="subDishContainer">
                    <h3 class="subDishContainer__h3"> Tartare de poulpe acidulé</h3>
                    <div class="subDishContainer__Text">
                        <p class="subDishContainer__Text__p">Aux zests d'orange</p>
                        <p class="subDishContainer__Text__price">25€</p>
                    </div>
                </div>
                <div class="hoverAnimationOkay">
                    <i class="fas fa-check-circle fa-2x hoverAnimationOkay__iconChecked"></i>
                </div>
            </div>
            
            <div class="mainDishContainer mainDishContainer--2">
                <div class="subDishContainer">
                    <h3 class="subDishContainer__h3">Velouté de légumes d'antan</h3>
                    <div class="subDishContainer__Text">
                        <p class="subDishContainer__Text__p">carotte, panais et topinambour</p>
                        <p class="subDishContainer__Text__price">35€</p>
                    </div>
                </div>
                <div class="hoverAnimationOkay">
                    <i class="fas fa-check-circle fa-2x hoverAnimationOkay__iconChecked"></i>
                </div>
            </div>

            <div class="mainDishContainer mainDishContainer--3">
                <div class="subDishContainer">
                    <h3 class="subDishContainer__h3">Velouté de légumes d'antan</h3>
                    <div class="subDishContainer__Text">
                        <p class="subDishContainer__Text__p">carotte, panais et topinambour</p>
                        <p class="subDishContainer__Text__price">35€</p>
                    </div>
                </div>
                <div class="hoverAnimationOkay">
                    <i class="fas fa-check-circle fa-2x hoverAnimationOkay__iconChecked"></i>
                </div>
            </div>
        </section>

        <section>
            <div class="menuH2Titel">
                <h2 class="menuH2Titel__h2">PLATS</h2>
                <div class="menuH2Titel__barre"></div>
            </div>
            <div class="mainDishContainer">
                <div class="subDishContainer">
                    <h3 class="subDishContainer__h3">Velouté de légumes d'antan</h3>
                    <div class="subDishContainer__Text">
                        <p class="subDishContainer__Text__p">carotte, panais et topinambour</p>
                        <p class="subDishContainer__Text__price">35€</p>
                    </div>
                </div>
                <div class="hoverAnimationOkay">
                    <i class="fas fa-check-circle fa-2x hoverAnimationOkay__iconChecked"></i>
                </div>
            </div>
            
            <div class="mainDishContainer">
                <div class="subDishContainer">
                    <h3 class="subDishContainer__h3">Velouté de légumes d'antan</h3>
                    <div class="subDishContainer__Text">
                        <p class="subDishContainer__Text__p">carotte, panais et topinambour</p>
                        <p class="subDishContainer__Text__price">35€</p>
                    </div>
                </div>
                <div class="hoverAnimationOkay">
                    <i class="fas fa-check-circle fa-2x hoverAnimationOkay__iconChecked"></i>
                </div>
            </div>
            
            <div class="mainDishContainer">
                <div class="subDishContainer">
                    <h3 class="subDishContainer__h3">Velouté de légumes d'antan</h3>
                    <div class="subDishContainer__Text">
                        <p class="subDishContainer__Text__p">carotte, panais et topinambour</p>
                        <p class="subDishContainer__Text__price">35€</p>
                    </div>
                </div>
                <div class="hoverAnimationOkay">
                    <i class="fas fa-check-circle fa-2x hoverAnimationOkay__iconChecked"></i>
                </div>
            </div>
        </section>

        <section>
            <div class="menuH2Titel">
                <h2 class="menuH2Titel__h2">DESSERTS</h2>
                <div class="menuH2Titel__barre"></div>
            </div>
            <div class="mainDishContainer">
                <div class="subDishContainer">
                    <h3 class="subDishContainer__h3">Velouté de légumes d'antan</h3>
                    <div class="subDishContainer__Text">
                        <p class="subDishContainer__Text__p">carotte, panais et topinambour</p>
                        <p class="subDishContainer__Text__price">35€</p>
                    </div>
                </div>
                <div class="hoverAnimationOkay">
                    <i class="fas fa-check-circle fa-2x hoverAnimationOkay__iconChecked"></i>
                </div>
            </div>
            
            <div class="mainDishContainer">
                <div class="subDishContainer">
                    <h3 class="subDishContainer__h3">Velouté de légumes d'antan</h3>
                    <div class="subDishContainer__Text">
                        <p class="subDishContainer__Text__p">carotte, panais et topinambour</p>
                        <p class="subDishContainer__Text__price">35€</p>
                    </div>
                </div>
                <div class="hoverAnimationOkay">
                    <i class="fas fa-check-circle fa-2x hoverAnimationOkay__iconChecked"></i>
                </div>
            </div>
            
            <div class="mainDishContainer">
                <div class="subDishContainer">
                    <h3 class="subDishContainer__h3">Velouté de légumes d'antan</h3>
                    <div class="subDishContainer__Text">
                        <p class="subDishContainer__Text__p">carotte, panais et topinambour</p>
                        <p class="subDishContainer__Text__price">35€</p>
                    </div>
                </div>
                <div class="hoverAnimationOkay">
                    <i class="fas fa-check-circle fa-2x hoverAnimationOkay__iconChecked"></i>
                </div>
            </div>
        </section>

    </div>

    <footer class="footer">
        <h4>ohmyfood</h4>

        <ul class="ListFooter fa-ul">
            <li class="ListFooter__li ListFooter__li--offset"><span class="fa-li"><i class="fas fa-utensils"></i></span>Proposer un restaurant</li>
            <li class="ListFooter__li ListFooter__li--offset"><span class="fa-li"><i class="fas fa-hands-helping"></i></span>Devenir partenaire</li>
        </ul>
        <ul class="ListFooter ListFooter--StyleRemoved">
            <li class="ListFooter__li">Mentions légales</li>
            <li class="ListFooter__li">Contact</li>
        </ul>
    </footer>

</body>
</html>