
.loader,
.loader:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.loader {
  opacity: 0;   /*On souhaite que le loader apparaisse uniquement au début et ensuite disparaisse*/
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 9999;

  font-size: 10px;
  text-indent: -9999em;         // permet de cacher le text du loader
  border-top: 1.1em solid $primaire;
  border-right: 1.1em solid $primaire;
  border-bottom: 1.1em solid $primaire;
  border-left: 1.1em solid $secondaire;   // ce le bord qui a une couleur différente! 
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.5s linear;
  animation: load 1.5s linear;  // permet d'appeler le keyframe
}