@charset "UTF-8";
/* Ci-dessous les couleurs de l'identité graphique du site */
/* Ci-dessous le décalage par rapport à la gauche de l'ensemble des articles et du body et du footer */
/* Le Keyframe ci-dessous est à mettre dans la classe .mainDishContainer Et sert à faire apparaitre peu à peu les menus. */
@keyframes progressiveAppearanceMenu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(4turn);
    transform: rotate(4turn);
    opacity: 1;
  }
}
/*contient les fichiers qui définissent les fondations de votre site, par
exemple la police de caractères et les normes que vous voulez appliquer
sur tout le site*/
/* Ci-dessous les polices de l'identité graphique du site*/
h1, h4 {
  font-family: "Shrikhand", cursive;
}

p, li, h2, h3, span, li {
  font-family: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

/*Ci-dessous un loader que j'ai pris de ce site : https://projects.lukehaas.me/css-loaders/*/
.loader,
.loader:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
  /*permet de faire en sorte que le loader apparaisse au milieu de l'écran*/
}

.loader {
  opacity: 0;
  /*On souhaite que le loader apparaisse uniquement au début et ensuite disparaisse*/
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 9999;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid #9356DC;
  border-right: 1.1em solid #9356DC;
  border-bottom: 1.1em solid #9356DC;
  border-left: 1.1em solid #FF79DA;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.5s linear;
  animation: load 1.5s linear;
}

/*est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est
réutilisable, par exemple un header pour les mises en page de grande taille
ou un footer*/
/* DEBUT    Style du HEADER */
.header {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
}
.header__Arrowleft {
  position: absolute;
  top: 28px;
  left: 20px;
}
.header__Arrowleft--hide {
  /*permet de cacher les flèches, lorsqu'on ne se trouve pas sur la page d'acceuil*/
  display: none;
}
.header__Arrowleft:hover {
  cursor: pointer;
}
.header__MainTitle {
  margin: auto auto auto auto;
  /*top right bottom left*/
}

.stopLinkStyleHeader {
  text-decoration: none;
  color: black;
}

.headerLocation {
  display: flex;
  height: 55px;
  box-shadow: inset 0 5px 2px -2px lightgray;
  /* inset | offset-x | offset-y | color */
  background-color: #e5e5e5;
}
.headerLocation--hide {
  /*permet de cacher cette partie du Header pour les autres pages*/
  display: none;
}
.headerLocation__LogoMap {
  margin: auto 0 auto auto;
  /*top right bottom left*/
  padding-right: 10px;
}
.headerLocation__p {
  margin: auto auto auto 0;
  /*top right bottom left*/
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.headerPresentation {
  display: flex;
  flex-direction: column;
  padding: 15px 15% 60px 15%;
  /*top right bottom left*/
  background-color: #f4f4f4;
}
.headerPresentation--hide {
  /*permet de cacher cette partie du Header pour les autres pages*/
  display: none;
}
.headerPresentation__h2 {
  text-align: center;
  margin-bottom: 7px;
}
.headerPresentation__p {
  text-align: center;
  margin-top: 7px;
  font-size: 18px;
  font-weight: 300;
}
.headerPresentation__button {
  margin-top: 15px;
  width: 230px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  background: #9356DC;
  /*fallback for old browsers*/
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  border: none;
  color: white;
  padding: 15px 5px;
  /*top&bottom right&left */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.headerPresentation__button:hover {
  cursor: pointer;
}
.headerPresentation__button--MenuVersion {
  margin: 15px auto 85px auto;
  /*top right bottom left*/
  width: 190px;
}

.flexDivBtn {
  /*Vraiment pas beau, mais me permet de centrer facilement le bouton des menus...*/
  display: flex;
}

/* FIN      Style HEADER */
/* DEBUT    Style FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 25px 5vw;
  /*top right bottom left*/
  background-color: #282828;
  color: white;
}

.ListFooter {
  padding: 0;
  margin: 0;
}
.ListFooter__li {
  padding-bottom: 8px;
}
.ListFooter__li--offset {
  margin-left: 27px;
}
.ListFooter__li:hover {
  cursor: pointer;
}
.ListFooter__li--mailto {
  color: white;
  text-decoration: none;
}
.ListFooter--StyleRemoved {
  list-style: none;
}

/* FIN      Style FOOTER */
/* DEBUT    de la section intitulée ''Fonctionnement''*/
.decalage {
  /* ATTENTION ce style est utilisé de manière global. à voir s'il faut déplacer dans un autre scss*/
  padding: 0 0 0 5vw;
  /*top right bottom left*/
}

.paddingTopBottom {
  /*Attention est utilisé dans plusieurs div!!!!*/
  padding-top: 55px;
  padding-bottom: 55px;
}

.margeTitel1 {
  margin-bottom: 35px;
}

.bttFonctionnement {
  display: flex;
  /* flex-direction column est appliqué de base*/
  position: relative;
  z-index: 1;
  background-color: #f4f4f4;
  width: 88vw;
  height: 65px;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-left: 12px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.bttFonctionnement:hover {
  cursor: pointer;
}
.bttFonctionnement:hover::after {
  opacity: 1;
}
.bttFonctionnement:hover > .bttFonctionnement__Logo--hide {
  display: flex;
}
.bttFonctionnement:hover > .bttFonctionnement__Logo--nothidden {
  display: none;
}
.bttFonctionnement::after {
  opacity: 0;
  z-index: -1;
  background-color: #f2eafb;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}
.bttFonctionnement__Number {
  margin: auto 0 auto 0;
  /*top right bottom left*/
  padding: 3px 0 0 0;
  text-align: center;
  vertical-align: middle;
  color: white;
  position: relative;
  left: -12px;
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.bttFonctionnement__Logo {
  margin: auto 10% auto 10%;
  /*top right bottom left*/
  color: grey;
}
.bttFonctionnement__Logo--hide {
  display: none;
  color: #9356DC;
}
.bttFonctionnement__Text {
  position: absolute;
  left: 35%;
  top: 20px;
  font-size: 18px;
  font-weight: 500;
}

/* FIN      de la section intitulée ''Fonctionnement''*/
/* DEBUT    de la section intitulée ''RESTAURANTS''*/
.stopLinkStyle {
  display: bloc;
  text-decoration: none;
  color: black;
}

.styleContainerRestaurant {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .styleContainerRestaurant {
    flex-flow: row wrap;
    justify-content: space-around;
    padding-right: 5vw;
  }
}

.IndexH2 {
  /*J'en ai juste besoin pour la version ipad et pc*/
  width: 100%;
}

.articleRestaurant {
  display: flex;
  /* Pas sur que ce soit nécessaire, mais utile si je souhaite utiliser des marges auto */
  flex-direction: column;
  position: relative;
  /* Va me permettre de positionner le text ''nouveau'' de manière
  absolu, par rapport à cette balise*/
  width: 90vw;
  border-radius: 25px;
  background-color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .articleRestaurant {
    width: 44vw;
  }
}
.articleRestaurant__p {
  background-color: #8addc5;
  color: #007854;
  position: absolute;
  right: 15px;
  top: 3px;
  /* AMELIORATION a exprimer en % à l'aide d'une fonction calc()*/
  width: 85px;
  height: 29px;
  border-radius: 3px;
  text-align: center;
  padding-top: 5px;
  /* me permet de centrer le text verticalement... Pas
  très élegent, mais puisque non responsive, je peux me le permettre.*/
}
.articleRestaurant__p--hide {
  display: none;
}
.articleRestaurant__img {
  object-fit: cover;
  width: 90vw;
  height: 250px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
@media (min-width: 768px) {
  .articleRestaurant__img {
    width: 44vw;
  }
}

.articleRestaurantContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}
.articleRestaurantContainer__FirstDiv {
  padding-left: 2vw;
}
.articleRestaurantContainer__FirstDiv p {
  margin-top: 3px;
}
.articleRestaurantContainer__FirstDiv h3 {
  margin-bottom: 0;
}
.articleRestaurantContainer__SecondDiv {
  margin: auto 0 auto auto;
  /*top right bottom left*/
  padding-right: 4vw;
}

/*
background: $primaire;
background: linear-gradient(-10deg, $primaire, $secondaire); */
/* DEBUT : Animation du coeur */
.HeartContainerAnimated {
  position: relative;
  margin: auto 5vw auto auto;
  /*top right bottom left*/
  /* à noter que le margin me permet de toujours placer le coeur à 5vw du bord droit et center. */
  padding: 10px;
  height: 100%;
  width: 34px;
}
.HeartContainerAnimated:hover {
  cursor: pointer;
}
.HeartContainerAnimated:hover > .HeartContainerAnimated__secondLayer {
  transform: scaleY(0.01);
}
.HeartContainerAnimated__firstLayer {
  position: absolute;
  right: 0px;
  top: 0px;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
}
.HeartContainerAnimated__secondLayer {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 30px;
  width: 34px;
  /* Ici nous avons une div avec les dimensions d'un coeur */
  /*C'est le height qui doit diminuer pendant l'animation*/
  background-color: white;
  transform-origin: top center;
  transform: scaleY(1);
  transition: transform 300ms;
  z-index: 2;
  /* Je souhaite que le rectangle cache le coeur plein. Il doit donc se trouver entre le contour du coeur et le coeur plein*/
}
.HeartContainerAnimated__secondLayer--colorBeige {
  /*à rajouter pour les menus, car le fond est d'une autre couleur*/
  background-color: #f4f4f4;
}
.HeartContainerAnimated__thirdLayer {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
  /* Je souhaite que le contour du coeur soit toujours noir et toujours visible, donc tout en haut*/
}

/* FIN :      Animation du coeur*/
/* FIN      de la section intitulée ''RESTAURANTS''*/
.bodyMenu {
  /* me permet d'avoir cette couleur la où on voit le ''body'', car j'ai déplacé de manière absolu le titre sur l'image*/
  background-color: #f4f4f4;
}

/* DEBUT :      Image du Footer des Menus et le titre */
.imageMenuFooter {
  height: 300px;
  width: 100vw;
  object-fit: cover;
}

.menuBelowFooter {
  position: relative;
}

.titelMenu {
  display: flex;
  position: relative;
  bottom: 30px;
  background-color: #f4f4f4;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -15px;
  padding-top: 30px;
}
.titelMenu__h1 {
  margin: 0;
}
.titelMenu__heart {
  margin: auto 10vw auto auto;
  /*top right bottom left*/
}

/* FIN :        Image du Footer des Menus et le titre */
/* DEBUT :      Titre H2 avec une barre en dessous */
.menuH2Titel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0 20px 0;
  /*top right bottom left*/
}
.menuH2Titel__h2 {
  margin: 0 0 5px 0;
  /*top right bottom left*/
  font-weight: 300;
  width: 120px;
}
.menuH2Titel__barre {
  background-color: #99E2D0;
  width: 72px;
  height: 4px;
}

/* FIN :        Titre H2 avec une barre en dessous */
/* DEBUT :      Corps des Menus, sans le titre principal */
.styleMainMenuDiv {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.MenuSection {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .MenuSection {
    flex-flow: row wrap;
    justify-content: space-between;
    padding-right: 5vw;
  }
}
@media (min-width: 1000px) {
  .MenuSection {
    flex-flow: row wrap;
    justify-content: space-around;
    padding-right: 5vw;
  }
}

.mainDishContainer {
  display: flex;
  margin: 0 0 15px 0;
  /*top right bottom left*/
  background-color: white;
  width: 90vw;
  padding: 0 0 0 10px;
  /*top right bottom left*/
  border-radius: 25px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  /*Nous avons besoin ici de overflow hidden, pour pouvoir ''cacher'' à droite de ce bloc l'animation qui va apparaitre.*/
  overflow: hidden;
  /* le contenant ne change pas de taille et cache les choses en trop ou qui dépassent*/
  text-overflow: ellipsis;
  /* met trois points lorsque quelque chose n'apparait pas*/
  /* Ci-dessous l'animation nous permettant de faire une belle transition d'apparition pour les
  différents élements du menu */
  animation: progressiveAppearanceMenu 1000ms;
  opacity: 1;
}
@media (min-width: 768px) {
  .mainDishContainer {
    width: 42vw;
  }
}
@media (min-width: 1000px) {
  .mainDishContainer {
    width: 28vw;
  }
}
.mainDishContainer:hover {
  cursor: pointer;
}
.mainDishContainer:hover .hoverAnimationOkay {
  margin: auto 0 auto 0;
  /*top right bottom left*/
}
.mainDishContainer:hover .hoverAnimationOkay__iconChecked {
  transform: rotate(360deg);
}
.mainDishContainer--1 {
  animation-delay: 125ms;
}
.mainDishContainer--2 {
  animation-delay: 250ms;
}
.mainDishContainer--3 {
  animation-delay: 375ms;
}
.mainDishContainer--4 {
  animation-delay: 500ms;
}

.subDishContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90vw;
  /* L'animation va devoir réduire cette valeur */
  padding: 5px 0 5px 0;
  /*top right bottom left*/
  /* Remarque générale, la propriété overflow hidden ne fonctionne que si on a une hauteur maxi défini! Logique...*/
  overflow: hidden;
  /* le contenant ne change pas de taille et cache les choses en trop ou qui dépassent*/
  text-overflow: ellipsis;
  /* met trois points lorsque quelque chose n'apparait pas*/
  white-space: nowrap;
  /* permet de supprimer les passages à la ligne et est OBLIGATOIRE pour l'utilisation de ellipsis!*/
  display: block;
}
.subDishContainer__h3 {
  margin: 10px 0 2px 0;
  /*top right bottom left*/
  height: 25px;
  /* Remarque générale, la propriété overflow hidden ne fonctionne que si on a une hauteur maxi défini! Logique...*/
  overflow: hidden;
  /* le contenant ne change pas de taille et cache les choses en trop ou qui dépassent*/
  text-overflow: ellipsis;
  /* met trois points lorsque quelque chose n'apparait pas*/
  white-space: nowrap;
  /* permet de supprimer les passages à la ligne et est OBLIGATOIRE pour l'utilisation de ellipsis!*/
  display: block;
}
.subDishContainer__Text {
  display: flex;
  height: 28px;
}
.subDishContainer__Text__p {
  margin: 2px 0 10px 0;
  /*top right bottom left*/
  /* Remarque générale, la propriété overflow hidden ne fonctionne que si on a une hauteur maxi défini! Logique...*/
  overflow: hidden;
  /* le contenant ne change pas de taille et cache les choses en trop ou qui dépassent*/
  text-overflow: ellipsis;
  /* met trois points lorsque quelque chose n'apparait pas*/
  white-space: nowrap;
  /* permet de supprimer les passages à la ligne et est OBLIGATOIRE pour l'utilisation de ellipsis!*/
  display: block;
}
.subDishContainer__Text__price {
  margin: 2px 5vw 10px auto;
  /*top right bottom left*/
  font-weight: bold;
}

.hoverAnimationOkay {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 50px;
  color: white;
  background-color: #99E2D0;
  margin: auto -75px auto 0;
  /*top right bottom left*/
  padding: 22px 50px 22px 25px;
  /*top right bottom left*/
  transition: all 300ms;
  /*margin change!*/
}
.hoverAnimationOkay__iconChecked {
  transform: rotate(0deg);
  transition: all 450ms 150ms;
  /*rotate qui change!*/
}

/* FIN :        Corps des Menus */

/*# sourceMappingURL=styles.css.map */
