
/* DEBUT :      Image du Footer des Menus */

.imageMenuFooter{
    height: 300px;
    width: 100vw;
    object-fit: cover;
}

/* FIN :        Image du Footer des Menus */

/* DEBUT :      Corps des Menus */


/* FIN :        Corps des Menus */