
/* DEBUT :      Image du Footer des Menus */
.imageMenuFooter{
    height: 300px;
    width: 100vw;
    object-fit: cover;
}

.menuBelowFooter{
    position: relative;
}

.titelMenu{
    display: flex;
    position: relative;
    bottom: 30px;

    background-color: rgb(244, 244, 244);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -20px;

    &__h1{
        margin: 0;
    }
    &__heart{
        margin: auto 5vw auto auto; /*top right bottom left*/
    }
}

/* FIN :        Image du Footer des Menus */

/* DEBUT :      Corps des Menus, sans le titre principal */


/* FIN :        Corps des Menus */