
.bodyMenu{ /* me permet d'avoir cette couleur la où on voit le ''body'', car j'ai déplacé de manière absolu le titre sur l'image*/
    background-color: rgb(244, 244, 244);
}

/* DEBUT :      Image du Footer des Menus et le titre */
.imageMenuFooter{
    height: 300px;
    width: 100vw;
    object-fit: cover;
}

.menuBelowFooter{
    position: relative;
}

.titelMenu{
    display: flex;
    position: relative;
    bottom: 30px;

    background-color: rgb(244, 244, 244);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -15px;
    padding-top: 30px;

    &__h1{
        margin: 0;
    }
    &__heart{
        margin: auto 10vw auto auto; /*top right bottom left*/
    }
}

/* FIN :        Image du Footer des Menus et le titre */



/* DEBUT :      Titre H2 avec une barre en dessous */
.menuH2Titel{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 10px 0 20px 0;   /*top right bottom left*/

    &__h2{
        margin: 0 0 5px 0;    /*top right bottom left*/
        font-weight: 300;
        width: 120px;

    }
    &__barre{
        background-color: $tertiaire;
        width: 72px;
        height: 4px;
    }
}

/* FIN :        Titre H2 avec une barre en dessous */



/* DEBUT :      Corps des Menus, sans le titre principal */
.styleMainMenuDiv{
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
}

.MenuSection{
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;

    @media (min-width:768px) {
        flex-flow: row wrap;
        justify-content: space-between;
        padding-right: $decalage;
    }
    @media (min-width:1000px) {
        flex-flow: row wrap;
        justify-content: space-around;
        padding-right: $decalage;
    }
}

.mainDishContainer{
    display: flex;
    margin: 0 0 15px 0; /*top right bottom left*/

    background-color: rgb(255, 255, 255);
    width: 90vw;
    padding: 0 0 0 10px;   /*top right bottom left*/
    border-radius: 25px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

    @media (min-width:768px) {
        width: 42vw;    
    }
    @media (min-width:1000px) {
        width: 28vw;    
    }

    /*Nous avons besoin ici de overflow hidden, pour pouvoir ''cacher'' à droite de ce bloc l'animation qui va apparaitre.*/
    overflow: hidden;           /* le contenant ne change pas de taille et cache les choses en trop ou qui dépassent*/
    text-overflow: ellipsis;    /* met trois points lorsque quelque chose n'apparait pas*/
    
    &:hover{
        cursor: pointer;
        & .hoverAnimationOkay{
            margin: auto 0 auto 0; /*top right bottom left*/

        }
        & .hoverAnimationOkay__iconChecked{
            transform: rotate(360deg);
        }
    }

    /* Ci-dessous l'animation nous permettant de faire une belle transition d'apparition pour les
    différents élements du menu */
    animation: progressiveAppearanceMenu 1000ms;
    opacity: 1;
    @for $i from 1 to 5 {
        &--#{$i} {
            animation-delay: 125ms * $i;
        }
    }
}

@mixin overflowElilipsis {
    /* Remarque générale, la propriété overflow hidden ne fonctionne que si on a une hauteur maxi défini! Logique...*/
    overflow: hidden;           /* le contenant ne change pas de taille et cache les choses en trop ou qui dépassent*/
    text-overflow: ellipsis;    /* met trois points lorsque quelque chose n'apparait pas*/
    white-space: nowrap;        /* permet de supprimer les passages à la ligne et est OBLIGATOIRE pour l'utilisation de ellipsis!*/
    display: block;         
}

.subDishContainer{
    display: flex;
    flex-direction: column;
    position: relative;

    width: 90vw;    /* L'animation va devoir réduire cette valeur */
    padding: 5px 0 5px 0;   /*top right bottom left*/

    @include overflowElilipsis();

    &__h3{
        margin: 10px 0 2px 0;  /*top right bottom left*/
        height: 25px;
        @include overflowElilipsis();
    }
    &__Text{
        display: flex;
        height: 28px;

        &__p{
            margin: 2px 0 10px 0;  /*top right bottom left*/
            @include overflowElilipsis();
        }
        &__price{
            margin: 2px 5vw 10px auto;   /*top right bottom left*/
            font-weight: bold;
        }
    }
}

.hoverAnimationOkay{
    display: flex;
    overflow: hidden;

    height: 100%;
    width: 50px;

    color: white;

    background-color: $tertiaire;
    margin: auto -75px auto 0;  /*top right bottom left*/
    padding: 22px 50px 22px 25px;  /*top right bottom left*/

    transition : all 300ms; /*margin change!*/

    &__iconChecked{
        transform: rotate(0deg);
        transition : all 450ms 150ms; /*rotate qui change!*/
    }
}


/* FIN :        Corps des Menus */