
/* DEBUT    de la section intitulée ''Fonctionnement''*/

.decalage{
    padding: 0 0 0 $decalage; /*top right bottom left*/
}

.paddingTopBottom{ /*Attention est utilisé dans plusieurs div!!!!*/
    padding-top: 55px;
    padding-bottom: 55px;
}
.margeTitel1{
    margin-bottom: 50px;
}

.bttFonctionnement{
    display: flex; /* flex-direction column est appliqué de base*/
    position: relative;
    z-index: 1;

    background-color: rgb(244, 244, 244);

    width: 95%;
    height: 65px;
    border-radius: 20px;

    margin-bottom: 25px;
    margin-left: 12px;

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

    &:hover{
        cursor: pointer;
        &::after{
            opacity: 1;
        }
        & > .bttFonctionnement__Logo--hide{
            display: flex;
        }
        & > .bttFonctionnement__Logo--nothidden{
            display: none;
        }
    }

    &::after{
        opacity: 0;
        z-index: -1;
        background-color: lighten($primaire, 35%);
        -webkit-transition: opacity 250ms;
        transition: opacity 250ms;

        position: absolute;
        content: "";
        top: 0; right: 0; bottom: 0; left: 0;

        border-radius: 20px;
    }

    &__Number{
        margin: auto 0 auto 0 ; /*top right bottom left*/
        padding: 3px 0 0 0;
        text-align: center;
        vertical-align: middle;
        color: white;

        position: relative;
        left: -12px;

        background-color: $primaire;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
    &__Logo{
        margin: auto 10% auto 10% ; /*top right bottom left*/
        color: grey;
        &--hide{
            display: none;
            color: $primaire;
        }
    }
    &__Text{
        position: absolute;
        left: 35%; top: 20px;

        font-size: 18px;
        font-weight: 500;
    }
}

/* FIN      de la section intitulée ''Fonctionnement''*/



/* DEBUT    de la section intitulée ''RESTAURANTS''*/

.styleContainerRestaurant{
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
}

.articleRestaurant{
    display: flex; /* Pas sur que ce soit nécessaire, mais utile si je souhaite utiliser des marges auto */
    flex-direction: column;
    position: relative; /* Va me permettre de positionner le text ''nouveau'' de manière
    absolu, par rapport à cette balise*/

    width: 90vw;
    border-radius: 25px;

    background-color: white;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

    margin-bottom: 25px;

    &__p{
        background-color: rgb(138, 221, 197);
        color: rgb(0, 120, 84);
        position: absolute;
        right: 15px; top: 3px; /* AMELIORATION a exprimer en % à l'aide d'une fonction calc()*/

        width: 85px;
        height: 29px;
        border-radius: 3px;

        text-align: center;
        padding-top: 5px; /* me permet de centrer le text verticalement... Pas
        très élegent, mais puisque non responsive, je peux me le permettre.*/
        &--hide{
            display: none;
        }
    }
    &__img{
        object-fit: cover;
        width: 90vw;
        height: 250px;
        border-top-left-radius: 25px; border-top-right-radius: 25px;
    }
}

.articleRestaurantContainer{
    display: flex;
    flex-direction: row;

    &__FirstDiv{
        padding-left: 2vw;
    }
    &__SecondDiv{
        margin: auto 0 auto auto; /*top right bottom left*/
        padding-right: 4vw;

    }
}
/*
background: $primaire;
background: linear-gradient(-10deg, $primaire, $secondaire); */

/* FIN      de la section intitulée ''RESTAURANTS''*/